.home_page {
    min-height: 100vh;
    width: 100%;
    position: relative;

    .headBlock {
        width: 100%;
        height: 100vh;
        overflow: hidden ;
        position: relative;
        // background-image: url(../../../../assets/home/1662568382081.jpg);
        // background-size: 100% 100%;

        .video_block {
            display: block;
            position: relative;

            .video {
                display: block;
                width: 100%;
                position: absolute;
                top: 0;
            }

            .show {
                opacity: 1;
            }

            .hidden {
                opacity: 0;
            }

        }

        .logoBlock {
            position: relative;
            width: 0.72rem;
            padding: 0.8rem;

            img {
                width: 0.72rem;
            }
        }

        .timeBlock {
            position: relative;
            width: 6.17rem;
            margin: 0 auto;

            .timeUnit {
                margin-top: 0rem;
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 0.5rem;

                img {
                    height: 0.5rem;
                }
            }

            .timeDown {
                display: flex;
                justify-content: space-around;
                align-items: center;
                color: #ffffff;
                font-size: 0.9rem;

                .timeText {
                    width: 1.3rem;
                    text-align: center;
                    font-family: DsDigib;
                }
                .fontFamily{
                    font-family: DsDigib;
                }
            }

        }

        .buttonBlock {
            position: relative;
            width: 100%;

            img {
                width: 2.8rem;
                margin: 7.2rem auto 0 auto;
                display: block;
                cursor: pointer;
            }
        }

        .termsBlock {
            position: relative;
            width: 100%;
            text-align: center;
            cursor: pointer;
            font-size: 0.12rem;
            color: #ffffff;
            margin-top: 0.7rem;
        }
        .link{
            color: #ffffff;
        }
    }

}