.home_page {
    min-height: 100vh;
    width: 100%;
    position: relative;

    .headBlock {
        width: 100%;
        height: 100vh;
        max-height: 8.14rem !important;
        position: relative;

        .anmationShow {
            animation: opacityShow 0.2s;
            animation-fill-mode:forwards;
        }

        @keyframes opacityShow {
            0% {

                opacity: 0;
            }

            100% {

                opacity: 1;

            }
        }



        .video_block {
            display: block;
            position: absolute;
            bottom: 0;

            .video {
                width: 100%;
                position: relative;
            }

            .show {
                display: block;
                top: 8.16rem;
                z-index: 9;
            }

            .hidden {
                display: none;
            }
        }

        .logoBlock {
            position: relative;
            width: 0.72rem;
            padding: 0.8rem;
            opacity: 0;
            z-index: 99;

            img {
                width: 0.72rem;

            }
        }

        .timeBlock {
            position: relative;
            width: 6.17rem;
            margin: 0 auto;
            z-index: 99;
            opacity: 0;

            .timeUnit {
                margin-top: 0rem;
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 0.5rem;

                img {
                    height: 0.5rem;
                }
            }

            .timeDown {
                z-index: 99;
                display: flex;
                justify-content: space-around;
                align-items: center;
                color: #ffffff;
                font-size: 0.9rem;

                .timeText {
                    width: 1.3rem;
                    text-align: center;
                    font-family: DsDigib;
                }
                .fontFamily{
                    font-family: DsDigib;
                }
            }

          

        }

        .buttonBlock {
            z-index: 99;
            position: relative;
            width: 100%;
            opacity: 0;

            img {
                width: 2.8rem;
                margin: 1.2rem auto 0 auto;
                display: block;
                cursor: pointer;
            }
        }

        .termsBlock {
            opacity: 0;
            z-index: 99;
            position: absolute;
            bottom: 0.2rem;
            width: 100%;
            text-align: center;
            cursor: pointer;
            font-size: 0.12rem;
            color: #ffffff;
        }
    }

    .bodyBlock {
        // height: 400vh;
    }

}